{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{cover_print_enabled, true}.

{deps, [
	{gen_os_proc, ".*", {git, "git://github.com/bullno1/gen_os_proc.git", "HEAD"}},
	{cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", "1.0.1"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "v2.4.0"}},
	{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "0.3.1"}}
]}.
